= form_for @invoice do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice.errors.count, "error")} prohibited this invoice from being saved:"
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :invoice_date
    = f.date_select :invoice_date
  .field
    = f.label :order_date
    = f.date_select :order_date
  .field
    = f.label :tax
    = f.text_field :tax
  .field
    = f.label :payment_due_date
    = f.date_select :payment_due_date
  .field
    = f.label :note
    = f.text_area :note
  .actions
    = f.submit 'Save'
