= styles_for :invocie

= render 'entities/title_bar'

.remote#create_invoice{ hidden }

-# render "search"

.remote#options{ hidden }

.list#invoices
  - if @invoices.any?
    = render @invoices
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"

= hook(:invoice_index_after, self)
